# Settings and configurations that are common for all containers
x-aistor-common: &aistor-common
  image: ${AISTOR_IMAGE:-quay.io/minio/aistor/minio:RELEASE.2025-12-20T04-58-37Z}
  command: server --console-address ":9001"
  expose:
    - "9000"
    - "9001"
  environment:
    MINIO_ROOT_USER: minioadmin
    MINIO_ROOT_PASSWORD: minioadmin
    MINIO_LICENSE: /etc/minio/minio.license
    MINIO_VOLUMES: /documents
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3

# starts 1 docker container running AIStor.
services:
  aistor:
    <<: *aistor-common
    hostname: aistor
    volumes:
      - documents:/documents
      - ~/Downloads/minio.license:/etc/minio/minio.license
    ports:
      - "9000:9000"
      - "9001:9001"
    network_mode: bridge

volumes:
  documents:

